<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
  <mappers>
  <!-- 接口方式的Mapper文件的加载通过接口完成-->
  		 <package name="com.ssm.dao"/> 
  		<!--<mapper resource="/com/ssm/dao/UserMapper.xml"/> -->
  </mappers>
  
</configuration>
